@mixin flex($direction : row, $justify : center, $align : center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
ul, ol {
	list-style: none;
}

body {
	@include flex(column);
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
}

.pomodoro {
	@include flex(column);
	width: 20rem;
	height: 20rem;
	background-color: #49a13d;
	border-radius: 50%;
	position: relative;
	&__display {
		font-weight: 800;
		font-size: 3rem;
		color: white;
	}
	&__list {
		@include flex();
	}
	&__item {
		margin: 0.2rem;
	}
	&__button {
		background-color: darken(#49a13d, 10%);
		color: white;
		padding: 0.3rem;
		border: 0.1rem solid white;
		border-radius: 0.3rem;
		&:hover {
			cursor: pointer;
		}
	}
	&__loading-bar {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
}

